[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Coding tools
mypy = "*"
flake8 = "*"
black = "20.8b1"
isort = "*"
# Testing tools
tox = "*"
pytest = "*"
pytest-cov = "*"

[packages]
pygame = "*"

[scripts]
start = "python src/main.py"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true  # for black (! care for updates)
